#Mmensaje {
    display: none;
    width: 96%;
    border-radius: 5px;
    border: 2px solid;
    line-height: 0px;
    margin-top: 10px;
}

#Mpmensaje {
    margin: 0 0 10px;
    background-color: transparent;
    width: 100%;
    border-radius: 5px;
    padding: 8px;
    font-size: 15px;
    font-weight: 600;
    padding-left: 20px;
    margin-top: 10px;
}

.modal-title {
    font-size: 19px;
    font-weight: 700;
}


